numpy
pandas
matplotlib
seaborn
scikit-learn
yfinance
streamlit
plotly
hf_xet
sentence-transformers
fastapi uvicorn 
pandas 
numpy 
faiss-cpu sentence-transformers 
langchain langchain-community 
python-dotenv